*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.cont{
    margin-top: 59px;
}
.about-search-heading{
    text-align: center;
    color: white;
}
.about-search-container{
    background: linear-gradient(103deg, #40465a,#000000);
    padding: 40px;
}
.about-search-input-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-search-input{
   width: 600px;
   margin: 20px;
   border-radius: 3px;
   padding: 3px;
}
.about-searth-icon{
    position: absolute;
    font-size: 25px;
    top:180px ;
    right: 470px;
    
}
.about-fitness-club-conatiner{
    padding: 90px;
    background-color: #3c3f45;
    color: white;
}
.about-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.about-card{
    width: 600px;
    padding: 20px;
    transition-duration: 1s;
}
.about-card:hover{
    width: 600px;
    padding: 20px;
    background-color: rebeccapurple;
    border: 1px solid white;
}