*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.home-container{
    margin-top: 59px;
}
.homeWorkoutCard-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.homeWorkoutCard-image{
    margin: 20px;
}
.margin{
    margin-top: 30px;
    margin-bottom: 30px;
}
.home-card-heading-center{
    text-align: center;
    color: white;
    transition-duration: 1s;
}
.home-card-heading-center:hover{
    text-align: center;
    color: #f48916;
    cursor: default;
}
.home-backcolor{
    background-color: #3c3f45;
}

.home-card-border{
    padding: 15px;
    box-shadow: 10px 30px #f48916;
    border-radius: 15px;
    transition-duration: 2s;
    border: 3px solid #f48916;
    margin-right: 10px;
}
.home-card-border:hover {
    background-color: #f48916;
    padding: 15px;
    box-shadow: none;
    border-radius: 10px;
    cursor: pointer;
}

.home-price-plan-programs-header {
    margin-top: 100px;
    margin-bottom: 50px;
    color: #fff;
    display: flex;
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    gap: 5rem;
    justify-content: center;
    text-transform: uppercase;
    transition-duration: 1s;
}
.home-price-plan-programs-header:hover {
    margin-top: 100px;
    margin-bottom: 50px;
    color: #f48916;
    display: flex;
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    gap: 5rem;
    justify-content: center;
    text-transform: uppercase;
}
.home-price-plan-stroke-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    font-family: Arial,Helvetica,sans-serif;
    transition-duration: 1s;
}
.home-price-plan-stroke-text:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f48916;
    color: transparent;
    font-family: Arial,Helvetica,sans-serif;
}

.home-price-plan-programs-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
    
}

.home-price-plan-programs-card{
    padding: 20px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 470px;
    height: 220px;
    transition-duration: 1s;
}
.home-price-plan-programs-card:hover{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    width: 470px;
    height: 220px;
    background-image: linear-gradient(210.41deg,#fa5042 1.14%,#ffa739 100.75%);
}
.home-price-basic-plan-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.home-price-basic-pro-plan{
    background-color: #656565;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 500px;
    margin: 20px;
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
    transition-duration: 1s;
}
.home-price-basic-pro-plan:hover{
    background-image: linear-gradient(210.41deg,#fa5042 1.14%,#ffa739 100.75%);
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 500px;
    margin: 20px;
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
    
}
a{
    text-decoration: none;
}
.home-price-premium-plan{
    background-image: linear-gradient(210.41deg,#fa5042 1.14%,#ffa739 100.75%);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 600px;
    margin: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
}

.home-price-join-now-button{
    color: #f48916;
    border: 0px;
    padding: 8px;
    font-weight: bold;
    width: 250px;
}
.home-carousel-title{
    background-image: linear-gradient(210.41deg,#fa5042 1.14%,#ffa739 100.75%);
}
.home-price-tag{
    display: flex;
    flex-direction: column;
}
.home-price-tag-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 20px;
}
.home-price-tag-heading{
    margin-top: 20px;
}
.strike{
    text-decoration: line-through;
    color:  #d3d3d3;
    font-weight: bold;
}
.join-now-button{
    background-color: white;
}
.home-price-pop{
    color:#ff3278 ;
}