*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.sports-container{
    margin-top: 59px;
    background-color: #3c3f45;
}
.image{
    background-size: cover;
}
.sports-price-plan-programs-card-container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.sports-price-plan-programs-card{
    padding: 20px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 470px;
    height: 220px;
    transition-duration: 1s;
}
.sports-price-plan-programs-card:hover{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    width: 470px;
    height: 220px;
    background-image: linear-gradient(210.41deg,#fa5042 1.14%,#ffa739 100.75%);
}
.sports-price-plan-programs-header {
    margin-top: 100px;
    margin-bottom: 50px;
    color: #fff;
    display: flex;
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    gap: 5rem;
    justify-content: center;
    text-transform: uppercase;
    transition-duration: 1s;
}
.sports-price-plan-programs-header:hover {
    margin-top: 100px;
    margin-bottom: 50px;
    color: #f48916;
    display: flex;
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    gap: 5rem;
    justify-content: center;
    text-transform: uppercase;
}
.sports-icons{
    font-size: 35px;
}
.sports-carousel-title{
    background-image: linear-gradient(210.41deg,#fa5042 1.14%,#ffa739 100.75%);
}